html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
* {
  outline: 1px solid #efc84a;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.page-header {
  height: 545px;
  font-family: inherit;
  background-color: #eeeeee;
}
.page-header--feedback {
  height: 320px;
  margin-bottom: 70px;
}
.page-header--inner-page {
  height: 355px;
}
.page-header__inner {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 115px;
}
.page-header__title {
  margin: 77px 0;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.logo {
  display: block;
  width: 160px;
  height: 65px;
  margin-top: auto;
  background: url("../img/nerds-logo.png") no-repeat center;
  text-indent: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.3;
}
.main-nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  min-width: 800px;
  max-width: 960px;
  margin-top: auto;
}
.main-nav__link {
  color: #000000;
  transition: color 0.5s ease;
  position: relative;
  display: block;
  padding: 10px 0;
  margin-right: 47px;
  font-family: inherit;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}
.main-nav__link:hover {
  color: #fb565a;
}
.main-nav__link:active {
  color: rgba(0, 0, 0, 0.3);
}
.main-nav__link--cart {
  margin-left: auto;
  margin-right: 0;
  padding-left: 40px;
  background: url("../img/icons/cart-icon.png") no-repeat left center;
}
.main-nav__link--active::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}
.slider {
  width: 1160px;
  margin: 0 auto;
  height: 430px;
  position: relative;
}
.slider input[type=radio] {
  display: none;
}
.slider__check1:checked ~ .slider__controls label:nth-of-type(1)::after,
.slider__check2:checked ~ .slider__controls label:nth-of-type(2)::after,
.slider__check3:checked ~ .slider__controls label:nth-of-type(3)::after {
  opacity: 1;
}
.slider__check1:checked ~ .slider__slide--first,
.slider__check2:checked ~ .slider__slide--second,
.slider__check3:checked ~ .slider__slide--third {
  opacity: 1;
  z-index: 1;
}
.slider__slide {
  position: absolute;
  width: 1160px;
  height: 430px;
  padding-top: 78px;
  opacity: 0;
  z-index: 0;
}
.slider__slide--first {
  background: url("../img/slide1.png") no-repeat 430px bottom;
}
.slider__slide--second {
  background: url("../img/slide2.png") no-repeat right bottom;
}
.slider__slide--third {
  background: url("../img/slide3.png") no-repeat right bottom;
}
.slider__slide--third .slider__description {
  width: 360px;
}
.slider__title {
  width: 520px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slider__description {
  width: 420px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}
.slider__controls {
  position: absolute;
  z-index: 2;
  left: 50%;
  margin-left: -45px;
  bottom: 96px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 90px;
  height: 18px;
}
.slider__control {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  text-indent: 100%;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
.slider__control::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -4px;
  opacity: 0;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.button {
  background-color: #fb565a;
  transition: all 0.5s ease-in;
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #e74246;
}
.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}
.main-content {
  width: 1160px;
  margin: 0 auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #000000;
  background-color: #ffffff;
}
.promo {
  min-height: 510px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  padding-top: 80px;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}
.promo .button {
  width: 160px;
}
.promo__block {
  width: 31%;
  padding-top: 170px;
}
.promo__block--sites {
  background: url("../img/sites.jpg") no-repeat;
}
.promo__block--apps {
  background: url("../img/apps.jpg") no-repeat;
}
.promo__block--apps .button {
  background-color: #00ca74;
  transition: all 0.5s ease-in;
}
.promo__block--apps .button:hover {
  background-color: #00bc6c;
}
.promo__block--apps .button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}
.promo__block--presentations {
  background: url("../img/presentations.jpg") no-repeat;
}
.promo__block--presentations .button {
  background-color: #efc84a;
  transition: all 0.5s ease-in;
}
.promo__block--presentations .button:hover {
  background-color: #eab534;
}
.promo__block--presentations .button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}
.promo__title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.promo__description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  width: 260px;
  margin-bottom: 33px;
}
.about-us {
  min-height: 525px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  padding-top: 35px;
  color: #000000;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}
.about-us__column {
  width: 680px;
}
.about-us__column--logo {
  width: 360px;
}
.about-us__column--logo .about-us__subtitle {
  margin-bottom: 39px;
  text-align: center;
}
.about-us__column--logo .about-us__description {
  line-height: 18px;
}
.about-us__title {
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}
.about-us__description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  margin-bottom: 39px;
}
.about-us__subtitle {
  margin-bottom: 23px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.about-us__list {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style: none;
}
.about-us__item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 24px;
}
.about-us__item::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}
.about-us__logo {
  padding-top: 5px;
  margin-bottom: 15px;
}
.about-us__num {
  display: inline-block;
  vertical-align: top;
  width: 105px;
  margin-right: 10px;
  font-size: 45px;
  line-height: 50px;
  font-weight: 700;
}
.about-us sup {
  font-size: 29px;
}
.our-products {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  height: 183px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 40px;
  margin-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}
.our-products__link {
  position: relative;
  width: 300px;
  text-align: center;
}
.our-products__link:first-of-type {
  width: 250px;
  text-align: left;
}
.our-products__link:last-of-type {
  width: 240px;
  text-align: right;
}
.our-products__link:not(:last-of-type)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -26px;
  width: 2px;
  height: 52px;
  background: #eeeeee;
}
.our-products__link:hover .our-products__image {
  opacity: 1;
}
.our-products__link:active .our-products__image {
  opacity: 0.1;
}
.our-products__image {
  opacity: 0.2;
  transition: all 0.5s ease-in;
}
.map {
  width: 100%;
  height: 416px;
  background: url("../img/map.png") no-repeat 50%;
}
.map__inner {
  width: 1160px;
  margin: 0 auto;
  padding-top: 55px;
}
.contacts {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 319px;
  height: 308px;
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 47px;
  background-color: #ffffff;
  color: #000000;
}
.contacts .button {
  width: 220px;
  margin-top: auto;
}
.contacts__title {
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.contacts__address {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  margin: 0;
  margin-bottom: 18px;
  line-height: 18px;
  color: #666666;
}
.contacts__phone {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
}
.page-footer {
  background-color: #ffffff;
  color: #000000;
}
.page-footer__inner {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  height: 217px;
  padding-top: 70px;
}
.page-footer__promo {
  width: 760px;
}
.page-footer__title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}
.page-footer__description {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  margin: 0;
  line-height: 22px;
  color: #444444;
}
.socials {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  width: 260px;
  height: 80px;
}
.socials__link {
  position: relative;
  width: 80px;
  height: 80px;
  text-indent: 100%;
  overflow: hidden;
  background-color: #e1e1e1;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.socials__link--vk::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 50%;
  margin-left: -13px;
  width: 26px;
  height: 15px;
  background: url("../img/icons/vk-icon.png") no-repeat 50%;
}
.socials__link--fb::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -11px;
  left: 50%;
  margin-left: -6px;
  width: 12px;
  height: 22px;
  background: url("../img/icons/fb-icon.png") no-repeat 50%;
}
.socials__link--ig::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  width: 21px;
  height: 21px;
  background: url("../img/icons/insta-icon.png") no-repeat 50%;
}
.socials__link:hover {
  background-color: #e74246;
}
.socials__link:active {
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}
.socials__link:active::after {
  opacity: 0.3;
}
.modal-feedback {
  position: fixed;
  bottom: 180px;
  left: 50%;
  margin-left: -480px;
  z-index: 3;
  display: none;
  width: 960px;
  height: 590px;
  padding: 0 100px;
  padding-top: 68px;
  padding-bottom: 83px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}
.modal-feedback--show {
  display: block;
}
.modal-feedback__title {
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.modal-feedback__close {
  position: absolute;
  right: 88px;
  top: 78px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.modal-feedback__close::before,
.modal-feedback__close::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 0;
  width: 24px;
  height: 4px;
  background: #fb565a;
  opacity: 0.3;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-feedback__close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-feedback__close:hover::before,
.modal-feedback__close:hover::after {
  opacity: 1;
}
.modal-feedback__close:active::before,
.modal-feedback__close:active::after {
  opacity: 0.1;
}
.feedback {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  margin: 0 auto;
  height: 353px;
}
.feedback .button {
  width: 260px;
  margin-top: 20px;
}
.feedback__label {
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 145px;
  line-height: 18px;
  font-weight: 700;
}
.feedback__label--name,
.feedback__label--email {
  width: 360px;
  height: 77px;
}
.feedback__input {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  width: 100%;
  height: 50px;
  padding: 14px 13px;
  color: rgba(68, 68, 68, 0.5);
  line-height: 18px;
  outline: none;
}
.feedback__input:hover {
  border-color: #b4b9bb;
}
.feedback__input:focus {
  border-color: #000000;
  color: #000000;
}
.feedback__input:focus:invalid {
  border-color: #e74246;
  color: #e74246;
}
.feedback__text-field {
  border: 2px solid #d7dcde;
  border-radius: 3px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  width: 100%;
  height: 115px;
  padding: 14px 13px;
  color: rgba(68, 68, 68, 0.5);
  line-height: 18px;
  outline: none;
}
.feedback__text-field:hover {
  border-color: #b4b9bb;
}
.feedback__text-field:focus {
  border-color: #000000;
  color: #000000;
}
.feedback__text-field:focus:invalid {
  border-color: #e74246;
  color: #e74246;
}
