.inner(){
  width: 1160px;
  margin: 0 auto;
}

.nav-link(){
  color: @black;
  transition: color 0.5s ease;

  &:hover{
    color: @red;
  }

  &:active{
    color: @black-30;
  }
}

.text(){
  font-size: @font-size;
  line-height: @line-height;
  color: @text-color;
  font-weight: @regular;
}

.btn-bg(){
  background-color: @red;
  transition: all 0.5s ease-in;

  &:hover{
    background-color: @red-darken;
  }

  &:active{
    background-color: @red-dark;
    color: @white-30;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
  }
}

.btn-bg-green(){
  background-color: @green;
  transition: all 0.5s ease-in;

  &:hover{
    background-color: @green-darken;
  }

  &:active{
    background-color: @green-dark;
    color: @white-30;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
  }
}

.btn-bg-yellow(){
  background-color: @yellow;
  transition: all 0.5s ease-in;

  &:hover{
    background-color: @yellow-darken;
  }

  &:active{
    background-color: @yellow-dark;
    color: @white-30;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
  }
}

.btn-bg-gray(){
  background-color: @gray-light;
  transition: all 0.5s ease-in;

  &:hover{
    background-color: #dfdfdf;
  }

  &:active{
    background-color: #d5d5d5;
    color: @black-30;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
  }
}

.input-style(){
  border: 2px solid #d7dcde;
  border-radius: 3px;

  &:hover{
    border-color: #b4b9bb;
  }

  &:focus{
    border-color: @black;
    color: @black;
  }

  &:focus:invalid{
    border-color: @red-darken;
    color: @red-darken;
  }
}
