.button {
  .btn-bg();

  display: block;
  width: 240px;
  padding: 16px 0;
  font-family: @font;
  font-size: @font-size;
  font-weight: @medium;
  line-height: 18px;
  color: @white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  transition: all 0.3 linear;

  &--filter {
    .btn-bg-gray();

    width: 100%;
    color: @black;
  }

  &--product {
    width: 200px;
    margin-top: auto;
  }
}
