.button{
  .btn-bg();
  display: block;
  width: 240px;
  padding: 16px 0;
  font-family: @font;
  font-size: @font-size;
  line-height: 18px;
  font-weight: @medium;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @white;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;

  &--filter{
    .btn-bg-gray();
    width: 100%;
    color: @black;
  }

  &--product{
    margin-top: auto;
    width: 200px;
  }
}
