.contacts {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 319px;
  height: 308px;
  padding-top: 32px;
  padding-right: 50px;
  padding-bottom: 47px;
  padding-left: 50px;
  color: @black;
  background-color: @white;

  .button {
    width: 220px;
    margin-top: auto;
  }
}

.contacts__title {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: @bold;
  line-height: @line-height-h2;
  text-transform: uppercase;
}

.contacts__address {
  .text();

  margin: 0;
  margin-bottom: 18px;
  line-height: 18px;
  color: @text-gray;
}

.contacts__phone {
  .text();

  line-height: 18px;
  color: @text-gray;
  text-decoration: none;
}
