.logo{
  display: block;
  width: 160px;
  height: 65px;
  margin-top: auto;
  background: url("../img/nerds-logo.png") no-repeat center;
  text-indent: 100%;
  overflow: hidden;
  transition: opacity 0.5s ease;

  &:hover{
    opacity: 0.8;
  }

  &:active{
    opacity: 0.3;
  }
}
