.main-content {
  .inner();

  font-family: @font;
  color: @black;
  background-color: @white;

  &--catalog {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.main-content__inner {
  width: 760px;
}
