.our-products{
  .inner();
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 183px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 40px;
  border-bottom: 2px solid @gray-light;
}
// странный код получился, ссылки никак не хотели вставать по макету
.our-products__link{
  position: relative;
  width: 300px;
  text-align: center;

  &:first-of-type{
    width: 250px;
    text-align: left;
  }

  &:last-of-type{
    width: 240px;
    text-align: right;
  }

  &:not(:last-of-type)::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -26px;
    width: 2px;
    height: 52px;
    background: @gray-light;
  }

  &:hover .our-products__image{
    opacity: 1;
  }

  &:active .our-products__image{
    opacity: 0.1;
  }
}

.our-products__image{
  opacity: 0.2;
}
