.page-header{
  height: 545px;
  font-family: inherit;
  background-color: @gray-light;

  &__inner{
    .inner();
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
  }
}
