.slider {
  .inner();

  position: relative;
  height: 430px;
  overflow: hidden;
}

#check1:checked ~ .slider__controls .slider__control:nth-of-type(1)::after,
#check2:checked ~ .slider__controls .slider__control:nth-of-type(2)::after,
#check3:checked ~ .slider__controls .slider__control:nth-of-type(3)::after {
  opacity: 0.4;
}

#check1:checked ~ .slider__slide--first,
#check2:checked ~ .slider__slide--second,
#check3:checked ~ .slider__slide--third {
  z-index: 1;
  opacity: 1;
}

.slider__slide {
  position: absolute;
  z-index: 0;
  width: 1160px;
  height: 430px;
  padding-top: 78px;
  opacity: 0;
  transition: opacity 0.5s ease-in;

  &--first {
    background: url("../img/slide1.png") no-repeat 430px bottom;
  }

  &--second {
    background: url("../img/slide2.png") no-repeat right bottom;
  }

  &--third {
    background: url("../img/slide3.png") no-repeat right bottom;

    & .slider__description {
      width: 360px;
    }
  }
}

.slider__title {
  width: 520px;
  margin: 0;
  margin-bottom: 25px;
  font-size: @font-size-h1;
  font-weight: @medium;
  line-height: @line-height-h1;
}

.slider__description {
  width: 420px;
  margin-bottom: 40px;
  font-size: @font-size;
  font-weight: @regular;
  line-height: @line-height;
  color: @text-color;
}

.slider__controls {
  position: absolute;
  bottom: 96px;
  left: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  height: 18px;
  margin-left: -45px;
}

.slider__control {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  overflow: hidden;
  text-indent: 100%;
  cursor: pointer;
  background-color: @white;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    margin-left: -4px;
    background-color: @white;
    border: 2px solid @black;
    border-radius: 50%;
    opacity: 0;
  }
}
