.sort {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 133px;
  padding-top: 53px;
}

.sort__title {
  margin: 0;
  font-size: @font-size-subtitle;
  font-weight: @bold;
  line-height: @line-height-h2;
  color: @black;
  text-transform: uppercase;
}

.sort__list {
  display: flex;
  justify-content: space-between;
  min-width: 272px;
  margin-left: auto;
}

.sort__item {
  font-size: 14px;
  line-height: 18px;
  color: @black;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0.3;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 1.0;
  }

  &--active {
    opacity: 1;

    &:hover,
    &:focus,
    &:active {
      opacity: 1;
    }
  }
}

.sort__controls {
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin-left: 48px;
}

.sort__control {
  width: 0;
  height: 0;
  cursor: pointer;
  border: 5px solid #a6a6a6;
  border-bottom: none;
  border-color: #a6a6a6 transparent;
  border-top-width: 10px;
  opacity: 0.2;

  &--up {
    border-top: none;
    border-bottom: 10px solid #a6a6a6;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  &--active {
    border-color: #231f20 transparent;
    opacity: 1;
  }
}
